/* Enter your custom styles here */
/* Increase Page Title font size */
.MainPage .sapMTitle {
    font-size: 1.4rem !important;
    /* adjust as needed */
    font-weight: 600;
    /* optional: make it bolder */
}

.labelDesin {
    font-size: 1.4rem !important;
}

.textDesin {
    font-size: 1.3rem !important;
    font-weight: 500;
}

.ICTBCustom>.sapMITH {
    background: linear-gradient(90deg, #0057d2 0%, rgba(0, 87, 210, 0.5) 75%, #0057d2 100%), lightgray url(../images/GlobalActionBar.jpg) 0% 0% repeat;
    background-size: cover;
    color: white;
}

.ICTBCustom .sapMITBText {
    font-size: 1.1rem !important;
    font-weight: 600;
    color: whitesmoke !important;
    /* smokewhite */
}

/* Selected tab text */
.ICTBCustom .sapMITBFilter.sapMITBSelected .sapMITBText {
    color: #ffffff !important;
    /* pure white */
    font-weight: 600;
    /* stronger emphasis */
}

.ICTBCustom .sapMITBSelected .sapMITBContentArrow::after {
    background: white !important;
}

.filterbarTabAsn .sapMITBText {

    color: rgb(0, 0, 0) !important;
    /* smokewhite */
}

/* Selected tab text */
.filterbarTabAsn .sapMITBFilter.sapMITBSelected .sapMITBText {
    color: rgb(3, 100, 197) !important;
    /* pure white */
    /* stronger emphasis */
}

.filterbarTabAsn .sapMITBSelected .sapMITBContentArrow::after {
    background: rgb(3, 100, 197) !important;
}

/* Gray background for disabled rows */
.rowDisabled {
    background-color: #f2f2f2 !important;
    opacity: 0.7;
}

/* Optional: change text color */
.rowDisabled .sapMText {
    color: #000000 !important;
}

.smallTitle {
    font-size: 1rem !important;
    font-weight: 600;
}